/* App.cs */
.container { 
	max-width: 400px; 
	margin: 100px auto; 
	padding: 40px; 
	box-shadow: 0 0 30px rgba(30, 18, 27, 0.85);
} 

.bmih1 { 
	color:#FF064F; 
	text-align: center; 
	margin-bottom: 20px; 
	font-size: 24px;
	font-weight: bold;
} 

.input-container { 
	margin-bottom: 10px; 
} 

.bmi-label { 
	display: block; 
	font-weight: bold; 
	margin-bottom: 5px; 
} 

.bmi-input[type='number'] { 
	width: 100%; 
	padding: 10px; 
	font-size: 16px; 
	color:black;
} 

.calculate-btn { 
	display: block; 
	width: 100%; 
	padding: 10px; 
	background-color: #FF064F; 
	color: #fff; 
	font-size: 16px; 
	border: none; 
	border-radius: 4px; 
	cursor: pointer; 
	font-weight: bold;
} 

.result { 
	margin-top: 20px; 
	padding: 10px; 
	background-color: #f0f0f0; 
	border-radius: 4px; 
	color:black;
} 

.bmi-value { 
	font-weight: bold; 
	color:black;
} 

.bmi-message { 
	color: #FF064F; 
	font-weight: bold; 
	color:black;
}
